<!-- [ navigation menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a class="b-brand">
        <!-- ========   change your logo hear   ============ -->
        <img src="../assets/images/logo.svg" alt="" class="logo logo-lg" />
        <img src="../assets/images/logo-sm.svg" alt="" class="logo logo-sm" />
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item pc-caption">
          <label>Navigation</label>
        </li>
        <li class="pc-item">
          <a class="pc-link" routerLink="/AdminDashboard"><span class="pc-micon"><i
                class="material-icons-two-tone">dashboard</i></span><span class="pc-mtext">Tableau de bord</span></a>
        </li>
        <li class="pc-item">
          <a class="pc-link" routerLink="/Subscriptions"><span class="pc-micon"><i
                class="material-icons-two-tone">card_membership</i></span><span class="pc-mtext">Abonnements</span></a>
        </li>
        <li class="pc-item">
          <a class="pc-link" routerLink="/Clients"><span class="pc-micon"><i
                class="material-icons-two-tone">group</i></span><span class="pc-mtext">Clients</span></a>
        </li>
        <li class="pc-item">
          <a class="pc-link" routerLink="/Quotations"><span class="pc-micon"><i
                class="material-icons-two-tone">shopping_cart</i></span><span class="pc-mtext">Devis</span></a>
        </li>
        <li class="pc-item">
          <a class="pc-link" routerLink="/Invoices"><span class="pc-micon"><i
                class="material-icons-two-tone">description</i></span><span class="pc-mtext">Facturation</span></a>
        </li>
        <li class="pc-item">
          <a class="pc-link" routerLink="/Resellers"><span class="pc-micon"><i
                class="material-icons-two-tone">bar_chart</i></span><span class="pc-mtext">Revendeurs</span></a>
        </li>
        <li class="pc-item">
          <a class="pc-link" routerLink="/Documents"><span class="pc-micon"><i
                class="material-icons-two-tone">folder_special</i></span><span class="pc-mtext">Documents
              utiles</span></a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->
