<!-- [ Pre-loader ] start -->
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>
<!-- [ Pre-loader ] End -->
<!-- [ Mobile header ] start -->
<app-mobile></app-mobile>
<!-- [ Mobile header ] End -->
 
<!-- [ navigation menu ] start -->
<app-sidebar></app-sidebar>
<!-- [ navigation menu ] end -->
<!-- [ Header ] start -->
<app-navbar></app-navbar>
<!-- [ Header ] end -->
<!-- [ Main Content ] start -->
<div class="pc-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">MSP Dashboard</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">Documents utiles</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
 
 
 
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- [ basic-table ] start -->
      <div class="col-xl-12">
        <div class="card" style="background-color: rgb(240, 248, 246);">
          <div class="card-header">
            <h5>Documents utiles </h5>
          </div>
          <div class="card-body table-border-style">
            <h6>Nous avons rassemblé ci-dessous un certain nombre de documents utiles : recommandations,
              brochures et vidéos. Ils vous aideront à mieux comprendre comment utiliser le portail LMP,
               à accroître vos revenus, organiser et gérer vos abonnements et bien plus encore.</h6>
            <div class="table-responsive">
              <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                <div class="dataTable-top">
                 
                  <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text">
                  </div>
                </div>
               
                <!-- [ Main Content ] start -->
                         
 
                  <div class="inputWrapper" data-aura-rendered-by="60:957;a"><div class="select-inputWrapper" data-aura-rendered-by="61:957;a">
                  <button type="button" class="btn btn-outline-succes clearAll" data-aura-rendered-by="1000:0">
                  Tout effacer X</button>
                  <span class="md-5">9 éléments trouvés</span>
 
   <!--                <div class="select-inputWrapper" data-aura-rendered-by="65:957;a"><p class="inputLabel" data-aura-rendered-by="66:957;a">Trier par :
 
                  </p><div class="slds-form-element" data-aura-rendered-by="76:957;a"><label for="68:957;a" class="slds-form-element__label" data-aura-rendered-by="77:957;a">
                    <span class="" data-aura-rendered-by="79:957;a"></span></label>
                    <div class="slds-form-element__control slds-grow" data-aura-rendered-by="81:957;a">
                      <div class="slds-select_container" data-aura-rendered-by="82:957;a"><select aria-invalid="false" id="68:957;a" class="slds-select" data-aura-rendered-by="83:957;a" name="sortInput">
                        <option value="Title" data-aura-rendered-by="69:957;a">Nom</option><option value="LastModifiedDate" data-aura-rendered-by="71:957;a">Date</option>
                        <option value="Downloads" data-aura-rendered-by="73:957;a">Popularité</option>
                  </select></div></div>
                  </div></div>
                </div> -->
               
                <div class="row">
                  <!-- subscribe start -->
                  <div class="mt-5"></div>
                  <div class="col-md-4  col-lg-4">
 
                   
               
               <!--     <div class="dataTable-dropdown "><label>
                      <select class="dataTable-selector">
                      <option value="5" selected="">Types de ressources</option>
                      <option value="10">Brochures</option>
                      <option value="10">Guide et chartes</option>
                      <option value="15">Video</option>
                    </select></label></div>
 
                   <div class="dataTable-dropdown"><label>
                      <select class="dataTable-selector">
                      <option value="5" selected="">Langues</option>
                      <option value="10">Francais</option>
                      <option value="15">Englais</option>
                    </select></label></div>-->
 
 
 
                      <div class="navbar-wrapper">
                        <div class="m-header">
                          <a class="b-brand">
 
<!----dropdown---->
<!-- <div class="dropdown">
  <button type="button" class="btn btn-info dropdown-toggle"
   data-toggle="dropdown">Choisir un element  </button>
    <ul class="dropdown-menu" >
    <li> <a class="dropdown-item" href="#" >Types de ressources</a></li>                    
    <li> <a class="dropdown-item" href="#">Brochures</a></li>
    <li> <a class="dropdown-item" href="#">Guide et chartes</a></li>
    <li> <a class="dropdown-item" href="#">Video</a></li>
    </ul>
 
</div> -->
 
<!-- <div class="dropdown">
  <button type="button" class="btn btn-info dropdown-toggle"
   data-toggle="dropdown">Langues  </button>
    <ul class="dropdown-menu" >
    <li> <a class="dropdown-item" href="#">Francais</a></li>
    <li> <a class="dropdown-item" href="#">Japonaise</a></li>
    <li> <a class="dropdown-item" href="#">Allemands</a></li>
    <li> <a class="dropdown-item" href="#">Espagnol</a></li>
    <li> <a class="dropdown-item" href="#">Italien</a></li>
    <li> <a class="dropdown-item" href="#" >Espagnol</a></li>                    
</ul>
 
</div> -->
<!---->
                      <div class="navbar-content">
                      <ul class="pc-navbar">
                    <li class="pc-item pc-hasmenu">
                      <a class="pc-link ">
                        <span
                          class="pc-mtext">Types de ressources</span>
                          <span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                          </svg></span></a>
                      <ul class="pc-submenu" style="display: none;">
                        <li class="pc-item"><a class="pc-link" href="#">Brochures</a></li>
                        <li class="pc-item"><a class="pc-link" href="#">Guide et chartes</a></li>
                        <li class="pc-item"><a class="pc-link" href="#">Video</a></li>
                      </ul>
                    </li></ul></div>
</a></div>
 
                    <div class="navbar-content">
                      <ul class="pc-navbar">
                    <li class="pc-item pc-hasmenu">
                      <a class="pc-link ">
                        <span
                          class="pc-mtext">Langues</span><span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                          </svg></span></a>
                      <ul class="pc-submenu" style="display: none;">
                        <li class="pc-item"><a class="pc-link" href="#">Anglais</a></li>
                        <li class="pc-item"><a class="pc-link" href="#">Francais</a></li>
                      </ul>
                    </li></ul></div>
</div></div>
 
                  <div class="col-md-8 ">
                    <div class="card">
                        <div class="card-body text-center">
                          <a href="#" >How to start working on LMP2</a>
 
                            <h4 class="m-t-20"><span class="text-success">video Anglais MP4</span>
                             <a href=""><i class="fas fa-file-download"></i></a>  </h4>
                            <p class="m-b-20">Mise a jour 22 juil. 2020</p>
                        </div>
                    </div>
               
                      <div class="card">
                          <div class="card-body text-center">  
                             <a href="#" >How to start working on LMP2</a>
                              <h4 class="m-t-20"><span class="text-success">video Anglais MP4</span>
                                <a href=""><i class="fas fa-file-download"></i></a>  </h4>
                                <p class="m-b-20">Mise a jour 22 juil. 2020</p>
                          </div>
                      </div>
 
                      <div class="card">
                        <div class="card-body text-center">  
                           <a href="#" >How to start working on LMP2</a>
                            <h4 class="m-t-20"><span class="text-success">video Anglais MP4</span>
                              <a href=""><i class="fas fa-file-download"></i></a>  </h4>
                              <p class="m-b-20">Mise a jour 22 juil. 2020</p>
                        </div>
                    </div>
 
                    <div class="card">
                      <div class="card-body text-center">  
                         <a href="#" >How to start working on LMP2</a>
                          <h4 class="m-t-20"><span class="text-success">video Anglais MP4</span>
                            <a href=""><i class="fas fa-file-download"></i></a>  </h4>
                            <p class="m-b-20">Mise a jour 22 juil. 2020</p>
                      </div>
                  </div>
 
                  <div class="card">
                    <div class="card-body text-center">  
                       <a href="#" >How to start working on LMP2</a>
                        <h4 class="m-t-20"><span class="text-success">video Anglais MP4</span>
                          <a href=""><i class="fas fa-file-download"></i></a>  </h4>
                          <p class="m-b-20">Mise a jour 22 juil. 2020</p>
                    </div>
                </div>
                  </div>
 
            </div>
          </div>
        </div>
      </div>
      <!-- [ basic-table ] end -->
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>
 
<!-- [ Main Content ] end -->
 
 
 

