<!-- [ Pre-loader ] start -->
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>
<!-- [ Pre-loader ] End -->
<!-- [ Mobile header ] start -->
<app-mobile></app-mobile>
<!-- [ Mobile header ] End -->
 
<!-- [ navigation menu ] start -->
<app-sidebar></app-sidebar>
<!-- [ navigation menu ] end -->
<!-- [ Header ] start -->
<app-navbar></app-navbar>
<!-- [ Header ] end -->
<!-- [ Main Content ] start -->
<div class="pc-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">MSP Dashboard</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">Documents utiles</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
 
 
 
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- [ basic-table ] start -->
      <div class="col-xl-12">
        <div class="card" style="background-color: rgb(240, 248, 246);">
          <div class="card-header">
            <h5>Documents utiles </h5>
          </div>
          <div class="card-body table-border-style">
            <h6>MSP For Africa</h6>
            <div>
              <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                <div class="dataTable-top">
                 
                  <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text">
                  </div>
                </div>
               
                <!-- [ Main Content ] start -->
               
                <div class="row">
                  <!-- subscribe start -->
                  <div class="col-md-4  col-lg-4">
 
               <div class="navbar-wrapper">
                        <div class="m-header">
                          <a class="b-brand">
 
                      <div class="navbar-content">
                      <ul class="pc-navbar">
                    <li class="pc-item pc-hasmenu">
                      <a class="pc-link ">
                        <span
                          class="pc-mtext">Types de ressources</span>
                          <span class="pc-arrow"><svg xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                          </svg></span></a>
                      <ul class="pc-submenu" style="display: none;">
                        <li class="pc-item"><a class="pc-link" href="#">Brochures</a></li>
                        <li class="pc-item"><a class="pc-link" href="#">Guide et chartes</a></li>
                        <li class="pc-item"><a class="pc-link" href="#">Video</a></li>
                      </ul>
                    </li></ul></div>
</a></div>
 
</div></div>
 
                  <div class="col-md-8 ">
                    <div class="card">
                        <div class="card-body text-center">
                          <a href="#" >How to start working on LMP2</a>
 
                            <h4 class="m-t-20"><span class="text-success">video Anglais MP4</span>
                             <a href="">
                              <img data-aura-rendered-by="2:2259;a"
                              src="/sfc/servlet.shepherd/version/renditionDownload?rendition=THUMB720BY480&amp;versionId=0685J000002QqJt&amp;operationContext=CHATTER&amp;contentId=05T5J000009iVNL&amp;page=0"
                              alt="PDF" style="width: 65px; height: 91.7647px;">
                                 </a>  </h4>
                             
                         
                            <p class="m-b-20">Mise a jour 22 juil. 2020</p>
                        </div>
                    </div>
               
                   
                    <div class="card">
                      <div class="card-body text-center">  
                         <a href="#" >How to start working on LMP2</a>
                          <h4 class="m-t-20"><span class="text-success">video Anglais MP4</span>
                           
                              <object data="example.pdf" type="application/pdf" internalinstanceid="9" title="">
                                <p>
                                   Your browser isn't supporting embedded pdf files.
                                   You can download the file
                                   <a href="example.pdf">here</a>.
                                </p>
                             </object>
                             </h4>
                            <p class="m-b-20">Mise a jour 22 juil. 2020</p>
                      </div>
                  </div>
 
                      <div class="card">
                          <div class="card-body text-center">  
                             <a href="#" >How to start working on LMP2</a>
                              <h4 class="m-t-20"><span class="text-success">video Anglais MP4</span>
                               
                                  <iframe style="width:20%; height: 5%;"
                                  src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen>
                               </iframe>
                                 </h4>
                                <p class="m-b-20">Mise a jour 22 juil. 2020</p>
                          </div>
                      </div>
 
 
               
                  </div>
 
            </div>
          </div>
        </div>
      </div>
      <!-- [ basic-table ] end -->
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>
 
<!-- [ Main Content ] end -->
 
 
 

