
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>
<!-- [ Pre-loader ] End -->
<!-- [ Mobile header ] start -->
<app-mobile></app-mobile>
<!-- [ Mobile header ] End -->

<!-- [ navigation menu ] start -->
<app-sidebar></app-sidebar>
<!-- [ navigation menu ] end -->
<!-- [ Header ] start -->
<app-navbar></app-navbar>
<!-- [ Header ] end -->
<!-- [ Main Content ] start -->
<div class="pc-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">MSP Dashboard</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">Facturation</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->


    <!-- [ Main Content ] start -->
    <div class="row">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Abonnements basés sur l'utilisation">

          <div class="divCard">
            <div class="card">
                <div class="card-header">
                    <canvas id="myChart"> Nous ne pouvons pas dessiner ce graphique maitenant en raison de l'absence de données</canvas>
                </div>
            </div>
        </div>

          <div  class="row">
            <p> {{ today | date:'dd-MM-yyyy hh:mm:ss a'}}</p> 
         </div>

          <div class="alert alert-dark"    >   
            <div >
              <img src="..\assets\images\image0.png" id="input_img" width="70px"  height="70px" [style.margin-bottom]="'-6%'" [style.margin-left]="'-2%'"> 
            </div>
            <div  [style.margin-left]="'5%'" >
              <p [style.margin-bottom]="'0%'">Rapport : Subscriptions with Usages and Reasons</p>
              <h4 > PAYG Billing Report</h4>
            </div>
            <div>
              <button type="button" class="btn  btn-light" [style.margin-left]="'90%'"  [style.margin-top]="'-12%'" >Exporter</button>
            </div>
            <div>
              <button type="button" class="btn  btn-light" [style.margin-left]="'83%'" [style.margin-top]="'-16%'" >
              <div id="input_container">
                <img src="..\assets\images\image3.jpg" id="input_img" width="10px"  height="10px">        
              </div>
              </button>
            </div>
            <div>  
            <button type="button" class="btn  btn-light" [style.margin-left]="'76%'" [style.margin-top]="'-20%'" >
              <div id="input_container">
                <img src="..\assets\images\image2.png" id="input_img" width="10px"  height="10px">        
              </div>
            </button>
            </div>
            <div>
            <button type="button" class="btn  btn-light"[style.margin-left]="'57%'"[style.margin-top]="'-24%'"  >Ajouter un graphique
            </button>
            </div>
            <div>
            <button type="button" class="btn  btn-light" [style.margin-left]="'50%'" [style.margin-top]="'-28%'" > 
            
                <img src="..\assets\images\imagee1.png" id="input_img" width="10px"  height="10px">
            </button>
            </div>
          </div>

          <div class="dataTable-container" >
            <table class="table dataTable-table" id="pc-dt-simple">
              <thead>
                <tr>
                  <th><a href="#" class="dataTable-sorter">Report Start Date </a></th>
                  <th><a href="#" class="dataTable-sorter">Nom de l'abonnemer Client :Nom du client</a></th>
                  <th><a href="#" class="dataTable-sorter">Distributeur par défaut : Nom de compte</a></th>
                  <th><a href="#" class="dataTable-sorter">Sales Order: Shipment Date </a></th>
                  <th><a href="#" class="dataTable-sorter">Sales Order: QUANTITÉ </a></th>
                  <th><a href="#" class="dataTable-sorter">Cumulative Calculation Details      </a></th>
                  <th><a href="#" class="dataTable-sorter">Pricing Type </a></th>
                  <th><a href="#" class="dataTable-sorter">STrial Period </a></th>
                  <th><a href="#" class="dataTable-sorter">OrderNumber </a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
               
              </tbody>
            </table>
          </div>
          <div> 
            <div class="form-check form-switch" [style.margin-left]="'0%'" [style.margin-bottom]="'-2%'"  >
              <label class="form-check-label" for="flexSwitchCheckDefault">Nombres de lignes </label>
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            </div>
            <div class="form-check form-switch" [style.margin-left]="'20%'" [style.margin-bottom]="'-2%'" >
              <label class="form-check-label" for="flexSwitchCheckChecked">Lignes de détail</label>
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            </div>
            <div class="form-check form-switch" [style.margin-left]="'40%'" [style.margin-bottom]="'-2%'" >
              <label class="form-check-label" for="flexSwitchCheckChecked">Sous-totaux</label>
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            </div>
            <div class="form-check form-switch" [style.margin-left]="'60%'"  [style.margin-bottom]="'30%'">
              <label class="form-check-label" for="flexSwitchCheckChecked">Total général </label>
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Abonnements annuels">

          <div class="divCard">
            <div class="card">
                <div class="card-header">
                    <canvas id="myChart"> Nous ne pouvons pas dessiner ce graphique maitenant en raison de l'absence de données</canvas>
                </div>
            </div>
        </div>

          <div  class="row">
            <p> {{ today | date:'dd-MM-yyyy hh:mm:ss a'}}</p> 
         </div>

          <div class="alert alert-dark"    >   
            <div >
              <img src="..\assets\images\image0.png" id="input_img" width="70px"  height="70px" [style.margin-bottom]="'-6%'" [style.margin-left]="'-2%'"> 
            </div>
            <div  [style.margin-left]="'5%'" >
              <p [style.margin-bottom]="'0%'">Rapport : Subscriptions with Usages and Reasons</p>
              <h4 > PAYG Billing Report</h4>
            </div>
            <div>
              <button type="button" class="btn  btn-light" [style.margin-left]="'90%'"  [style.margin-top]="'-12%'" >Exporter</button>
            </div>
            <div>
              <button type="button" class="btn  btn-light" [style.margin-left]="'83%'" [style.margin-top]="'-16%'" >
              <div id="input_container">
                <img src="..\assets\images\image3.jpg" id="input_img" width="10px"  height="10px">        
              </div>
              </button>
            </div>
            <div>  
            <button type="button" class="btn  btn-light" [style.margin-left]="'76%'" [style.margin-top]="'-20%'" >
              <div id="input_container">
                <img src="..\assets\images\image2.png" id="input_img" width="10px"  height="10px">        
              </div>
            </button>
            </div>
            <div>
            <button type="button" class="btn  btn-light"[style.margin-left]="'57%'"[style.margin-top]="'-24%'"  >Ajouter un graphique
            </button>
            </div>
            <div>
            <button type="button" class="btn  btn-light" [style.margin-left]="'50%'" [style.margin-top]="'-28%'" > 
            
                <img src="..\assets\images\image1.png" id="input_img" width="10px"  height="10px">
            </button>
            </div>
          </div>

          <div class="dataTable-container" >
            <table class="table dataTable-table" id="pc-dt-simple">
              <thead>
                <tr>
                  <th><a href="#" class="dataTable-sorter">Report Start Date </a></th>
                  <th><a href="#" class="dataTable-sorter">Nom de l'abonnemer Client :Nom du client</a></th>
                  <th><a href="#" class="dataTable-sorter">Distributeur par défaut : Nom de compte</a></th>
                  <th><a href="#" class="dataTable-sorter">Sales Order: Shipment Date </a></th>
                  <th><a href="#" class="dataTable-sorter">Sales Order: QUANTITÉ </a></th>
                  <th><a href="#" class="dataTable-sorter">Cumulative Calculation Details      </a></th>
                  <th><a href="#" class="dataTable-sorter">Pricing Type </a></th>
                  <th><a href="#" class="dataTable-sorter">STrial Period </a></th>
                  <th><a href="#" class="dataTable-sorter">OrderNumber </a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
               
              </tbody>
            </table>
          </div>
          <div> 
            <div class="form-check form-switch" [style.margin-left]="'0%'" [style.margin-bottom]="'-2%'"  >
              <label class="form-check-label" for="flexSwitchCheckDefault">Nombres de lignes </label>
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            </div>
            <div class="form-check form-switch" [style.margin-left]="'20%'" [style.margin-bottom]="'-2%'" >
              <label class="form-check-label" for="flexSwitchCheckChecked">Lignes de détail</label>
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            </div>
            <div class="form-check form-switch" [style.margin-left]="'40%'" [style.margin-bottom]="'-2%'" >
              <label class="form-check-label" for="flexSwitchCheckChecked">Sous-totaux</label>
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            </div>
            <div class="form-check form-switch" [style.margin-left]="'60%'"  [style.margin-bottom]="'30%'">
              <label class="form-check-label" for="flexSwitchCheckChecked">Total général </label>
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>

<!-- [ Main Content ] end -->


