<header class="pc-header">
  <div class="header-wrapper">
    <div class="me-auto pc-mob-drp"></div>
    <div class="ms-auto">
      <ul class="list-unstyled">
        <li class="dropdown pc-h-item">
          <a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button"
            aria-haspopup="false" aria-expanded="false">
            <i class="material-icons-two-tone">search</i>
          </a>
          <div class="dropdown-menu dropdown-menu-end pc-h-dropdown drp-search">
            <form class="px-3">
              <div class="form-group mb-0 d-flex align-items-center">
                <i data-feather="search"></i>
                <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . ." />
              </div>
            </form>
          </div>
        </li>

        <li class="pc-h-item">
          <a class="pc-head-link me-0" href="#" data-bs-toggle="modal" data-bs-target="#notification-modal">
            <i class="material-icons-two-tone">notifications_active</i>
            <span class="bg-danger pc-h-badge dots"><span class="sr-only"></span></span>
          </a>
        </li>
        <li class="dropdown pc-h-item">
          <a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button"
            aria-haspopup="false" aria-expanded="false">
            <img src="../assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar" />
            <span>
              <span class="user-name">Joseph William</span>
              <span class="user-desc">Administrator</span>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
            <div class="dropdown-header">
              <h5 class="text-overflow m-0">
                <span class="badge bg-light-success">Pro</span>
              </h5>
            </div>
            <a href="user-profile.html" class="dropdown-item">
              <i class="material-icons-two-tone">account_circle</i>
              <span>Profile</span>
            </a>

            <a href="auth-lockscreen.html" class="dropdown-item">
              <i class="material-icons-two-tone">https</i>
              <span>Lock Screen</span>
            </a>
            <a href="auth-signin-3.html" class="dropdown-item">
              <i class="material-icons-two-tone">chrome_reader_mode</i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
